@import "tailwindcss";
@plugin "daisyui";
@import "@fontsource-variable/jetbrains-mono";

@theme {
    --color-brand: #007FFF;
    --color-bblue: #244CE4;
    --color-byellow: #FAC748;
    --color-bgreen: #5FAD56;
    --color-text: #040F16;
    --color-lgt: #FFFCFF;  
}
@layer base {
  h2 {
    font-size: var(--text-2xl);
    font-weight: 800;
    text-align: center;
    margin-top: 30px;
  }
}

 @layer utilities {
  .prose pre {
    @apply w-full overflow-x-auto ;
  }
}

/* aniamcion acordion */
.accordion {
  transition: flex 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
}

.accordion.expanded .panel-text {
transform: translate(0,3%);
}

.panel-text {
transform: translate(0,35%);
}

.accordion.expanded .video-wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.video-wrapper {
  transform: translateY(20px);
}


.prose a {
  @apply hover:text-blue-700 underline;
}

pre {
  @apply rounded-md pl-8;
  font-family: "JetBrains Mono", monospace;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 95%;
  border-radius: 8px;
  padding-top: 2ch;
  padding-bottom: 2ch;
}

pre code {
	@apply block leading-[1.4] p-2 pl-1;
	font-size: .9rem;
	border-left: 1px solid rgba(115, 138, 148, 0.4);
	counter-reset: step;
	counter-increment: step 0;
}

pre code .line {
	@apply relative;
}

pre code .line::before {
	@apply absolute overflow-hidden w-7 h-4 -left-9 top-0 text-right;
	content: counter(step);
	counter-increment: step;
	color: rgba(115, 138, 148, 0.4);
}


body{
    font-family: "inter";
}

.prose p{
  margin-top: 2em;
  font-weight: 300;
}
.prose strong {
  font-weight: 550;
}

.markdown img {
  margin: 1.5rem 0;
  max-width: 90%;
  justify-content: center;
  margin: auto;
}
@media (prefers-color-scheme: dark) {
  .markdown img {
    background-color: white;
    padding: 0.1rem; /* opcional, si querés que no toque el borde */
    border-radius: 0.3rem; /* opcional, para suavizar bordes */
  }
}

/* UI por encima del canvas */
#landing-ui {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
  gap: 1rem;
  z-index: 10; /* siempre sobre el canvas */
 
}

/* Botones estilo limpio */
#landing-ui button {
  font-family: 'Inter', sans-serif;/*los botones tiene estilos def asi q hay q redundar*/
  font-weight: 100;
  white-space: nowrap;
  color: #9bc7f9;
  background: none;
  border: none;
  padding: 0.3rem 1.5rem;
  font-size: clamp(4rem, 6vw, 10rem);
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s, transform 0.4s, color 0.2s, font-weight 0.5s ease;
}

#landing-ui:hover button:not(:hover) {
  opacity: 0.3;
  color: #ffffff;
}

#landing-ui button:hover {
  opacity: 0.9;
  transform: scale(1.2);
  color: #ffffff;
  font-weight: 500;
}


/*skecth control*/

/* Posición del switch en pantalla */
#sketch-control {
  position: fixed;
  top: 4rem;
  left: 1rem;
  z-index: 49;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

#sketch-control.hide {
  opacity: 0;
  pointer-events: none;
}


/* Estilo general del switch */
.switch-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #e0e0e0;
  cursor: pointer;
}

/* Ocultar el input real */
.switch-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo del "slider" */
.switch-slider {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #4b3eff;
  border-radius: 20px;
  transition: background-color 0.3s;

}

/* Botón interior (círculo blanco) */
.switch-slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  top: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Cambios al estar activado */
.switch-label input:checked + .switch-slider {
  background-color: #ff5151;
}

.switch-label input:checked + .switch-slider::before {
  transform: translateX(20px);
}

/* Texto al lado del switch */
.switch-text {
  font-weight: 400;
}

