---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/HeaderPages.astro';
import Footer from '../components/footer.astro';
---

<BaseLayout title="Israel Paucar | CONTACT" description="Portfolio interactivo de Israel Paucar, artista VFX. Houdini artist, creative coding">
  
  <header><Header page="CONTACT"/></header>
  <main class="flex-1">...</main>
  <footer><Footer/></footer>

</BaseLayout>
