---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/footer.astro';
import Contacto from '../components/contacto.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection("posts");

// Ordenar por fecha
posts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));

---

<BaseLayout title="Israel Paucar | VFX Artist" description="Portfolio interactivo de Israel Paucar, artista VFX. Houdini artist, creative coding">
  
  <header><Header/></header>
  <main class="flex-1 overflow-x-hidden">
    <section id="landing" class="relative w-full h-screen">
      <div id="p5-container" class="w-full h-full absolute top-0 left-0 z-0 bg-text">
        <div class="absolute bottom-4 left-4 z-10 text-xs text-white max-w-xs bg-black/40 backdrop-blur-xs p-3 rounded-md">
         "Thousands of particles are simulated in real time, following organic patterns. When a word is selected, they align to form it on screen. This sketch was made using p5.js, a creative JavaScript library."
         <a href="#" class="hover:text-brand transition-colors duration-300">see more..</a> 
        </div>
      </div>
      

      <div id="sketch-control">
          <label class="switch-label" title="Detiene la simulación de fondo para ahorrar recursos">
            <input type="checkbox" id="toggle-sketch" />
            <span class="switch-slider"></span>
            <span class="switch-text">Stop Particle Simulation</span>
            
          </label>
        </div>
        
      <!-- Botones inferiores -->
      <div id="landing-ui">
        <button id="btn-reel" onclick="location.href='/reel'">REEL</button>
        <button id="btn-work" onclick="location.href='/work'" >WORK</button>
        <button id="btn-projects" onclick="location.href='/blog'">BLOG</button>
        <button id="btn-contact" onclick="location.href='/contact'">CONTACT</button>
      </div>

    </section>
    
    <div id="about-me" class=" w-9/10 mx-auto flex justify-center py-20">
      <div class="about-box w-full max-w-5xl bg-white/10 backdrop-blur-md rounded-xl shadow-lg p-8 flex flex-col md:flex-row items-center gap-10">
        
        <!-- Texto e íconos a la izquierda -->
        <div class="info w-full md:w-1/2 text-text space-y-4 text-[2rem] font-[200]">
          <p class="text-xl font-semibold text-[3rem]">Hello! 👋</p>
          <p>
            I'm Isra, a Houdini artist from Ecuador. Passionate about the blend of art, science, and tech.
            VFX work for Disney, HBO, Netflix, Apple TV+, and more.
          </p>

          <div class="social-links flex gap-4 mt-4">
            <a href="https://github.com/briankill4" target="_blank">
              <img src="assets/icons/github-brands-solid.svg" alt="GitHub" class="w-6 h-6 hover:scale-110 transition" />
            </a>
            <a href="https://www.linkedin.com/in/israelpaucar/" target="_blank">
              <img src="assets/icons/linkedin-brands-.svg" alt="LinkedIn" class="w-6 h-6 hover:scale-110 transition" />
            </a>
            <a href="https://www.instagram.com/israelpaucar.vfx/" target="_blank">
              <img src="assets/icons/instagram-brands-solid.svg" alt="Instagram" class="w-6 h-6 hover:scale-110 transition" />
            </a>
            <a href="https://www.youtube.com/@IsraelPaucar-wy9cf" target="_blank">
              <img src="assets/icons/youtube-brands-solid.svg" alt="YouTube" class="w-6 h-6 hover:scale-110 transition" />
            </a>
            <a href="https://vimeo.com/user3778973" target="_blank">
              <img src="assets/icons/vimeo-brands-solid.svg" alt="Vimeo" class="w-6 h-6 hover:scale-110 transition" />
            </a>
          </div>
        </div>

        <!-- Foto a la derecha -->
        <div class="photo w-full md:w-1/2 flex justify-center">
          <img src="ruta-a-tu-foto.jpg" alt="Personal photo of Israel Paucar, VFX Artist, Houdini artist." class="rounded-lg max-w-xs w-full object-cover" />
        </div>
        

      </div>
    </div>
<div class="px-4 sm:px-8 mx-auto max-w-screen-xl">
  <h2 class="text-3xl font-bold text-center mb-12 text-gray-800 dark:text-white">
    My Recent Posts
  </h2>

  <div class="w-3/4 mx-auto grid justify-center gap-8 sm:grid-cols-2 lg:grid-cols-3 mb-30">
    {posts.map(post => (
      <a 
        href={`/blog/${post.slug}`} 
        class="block border border-gray-200 hover:border-gray-800 dark:border-gray-700 rounded-xl px-6 py-5 shadow-sm hover:shadow-md transition group w-[320px] sm:w-[360px]"
      >
        <p class="text-sm text-gray-500 dark:text-gray-400 mb-2">
          {new Date(post.data.date).toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          })}
        </p>
        <h2 class="text-lg font-semibold text-black dark:text-white mb-2 group-hover:text-bblue transition">
          {post.data.title}
        </h2>
        <p class="text-gray-700 dark:text-gray-300 text-sm mb-4">
          {post.data.tagline}
        </p>
        <p class="text-xs text-gray-400 flex items-center gap-2">
          <span>by {post.data.author}</span> · <span>{post.data["time-read"]} min read</span>
        </p>
      </a>
    ))}
  </div>
</div>

<Contacto/>

    <script src="/js/Sketch_noise.js" defer></script>
    <script src="/js/sketch-control.js" defer></script>
  </main>
  <footer><Footer/></footer>

</BaseLayout>
