---

---

<footer class="w-full py-1 flex justify-center items-center">

  <div class="fixed left-2 top-1/2 -translate-y-1/2 -rotate-90 transform origin-left text-[.8rem] sm:text-[.6rem] text-gray-400 tracking-wider">
    &copy; Israel Paucar 2025 v2.3
  </div>

  <div class="flex gap-3 text-gray-400 z-50 mb-3 sm:mb-1">
    <a href="https://github.com/briankill4" target="_blank" aria-label="GitHub">
      <img src="/assets/icons/github-brands-solid.svg" alt="GitHub" class="w-5 h-5 opacity-30 hover:opacity-100 transform hover:scale-110 transition duration-300"/>
    </a>
    <a href="https://www.linkedin.com/in/israelpaucar/" target="_blank" aria-label="LinkedIn">
      <img src="/assets/icons/linkedin-brands-.svg" alt="LinkedIn" class="w-5 h-5 opacity-30 hover:opacity-100 transform hover:scale-110 transition duration-300"/>
    </a>
    <a href="https://www.instagram.com/israelpaucar.vfx/" target="_blank" aria-label="Instagram">
      <img src="/assets/icons/instagram-brands-solid.svg" alt="Instagram" class="w-5 h-5 opacity-30 hover:opacity-100 transform hover:scale-110 transition duration-300"/>
    </a>
    <a href="https://www.youtube.com/@IsraelPaucar-wy9cf" target="_blank" aria-label="YouTube">
      <img src="/assets/icons/youtube-brands-solid.svg" alt="YouTube" class="w-5 h-5 opacity-30 hover:opacity-100 transform hover:scale-110 transition duration-300"/>
    </a>
    <a href="https://vimeo.com/user3778973" target="_blank" aria-label="Vimeo">
      <img src="/assets/icons/vimeo-brands-solid.svg" alt="Vimeo" class="w-5 h-5 opacity-30 hover:opacity-100 transform hover:scale-110 transition duration-300"/>
    </a>
  </div>
</footer>
