---
const { name = "ISRAEL PAUCAR" , page= "| Web Portfolio" } = Astro.props;
---

<header class="fixed top-0 w-full bg-white shadow z-50 dark:bg-black dark:text-lgt">
    <div class="max-w-5xl mx-auto px-4 py-3 flex items-center justify-center gap-2">
        <h1 class="text-xl font-[900] " title="You can call me Isra">{name}</h1>
        <span class="text-sm text-gray-600 dark:text-gray-400">{page}</span>
    </div>
</header>
