---
---
<h1 class="text-4xl py-15 font-bold text-center dark:text-lgt">Reel 2023
  <span class="cursor">_</span>
</h1>
    <style>
    .titulo {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: monospace;
    }
    .cursor {
      animation: blink 1s steps(1) infinite;
    }
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
  </style>
    <div style="position:relative;aspect-ratio:16/9;">
      <iframe 
        loading="lazy" title="Gumlet video player"
        src="https://play.gumlet.io/embed/68537aa160ca00bc4a11aedb?preload=false&autoplay=false&loop=false&background=false&disable_player_controls=false"
        style="border:none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
      allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture; fullscreen;">
      </iframe>
    </div>
    <div class="dark:bg-white/10 dark:text-lgt w-3/4 mx-auto bg-white/80 shadow-xl rounded-2xl p-10 grid grid-cols-1 md:grid-cols-2 gap-10 mb-25">
      
      <!-- Video Properties (Izquierda) -->
      <div class="videoproperties space-y-4 text-left">
        <div>
          <p class="font-bold">Featured Studios:</p>
          <p class="text-xl font-[200]">Netflix, Disney, AppleTv, Prime Video, Star+</p>
        </div>

        <div>
          <p class="font-bold">VFX Production by:</p>
          <p class="text-xl font-[200]">Boat, Gizmo</p>
        </div>

        <div>
          <p class="font-bold">My role:</p>
          <p class="text-xl font-[200]">Rigid Body Dynamics, Vellum Simulation, Pyro Simulations, Particle HDA Systems</p>
        </div>

        <div>
          <p class="font-bold">Music:</p>
          <p class="text-xl font-[200]">Kontrust</p>
        </div>
      </div>

      <!-- Descripción (Derecha) -->
      <div class="aboutvideo text-left md:text-right flex items-center">
        <p class="text-2xl font-semibold">
          A selection of some of the most interesting projects of 2023
        </p>
      </div>
    </div>