---
---
<h1 class="text-4xl py-15 font-bold text-center dark:text-lgt">Reel 2024
  <span class="cursor">_</span>
</h1>
    <style>
    .titulo {
      font-size: 2.5rem;
      font-weight: bold;
      font-family: monospace;
    }
    .cursor {
      animation: blink 1s steps(1) infinite;
    }
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
  </style>
      <div style="position:relative;aspect-ratio:16/9;">
        <iframe 
              loading="lazy" title="Gumlet video player"
              src="https://play.gumlet.io/embed/6859cb36beff34efeff4bc51?preload=false&autoplay=false&loop=false&background=false&disable_player_controls=false"
              style="border:none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture; fullscreen;">
        </iframe>
      </div>
    <div class="dark:bg-white/10 dark:text-lgt w-3/4 mx-auto bg-white/80  shadow-xl rounded-2xl p-10 grid grid-cols-1 md:grid-cols-2 gap-10 mb-25">
      
      <!-- Video Properties (Izquierda) -->
      <div class="videoproperties dark:space-y-4 text-left ">
        <div>
          <p class="font-bold">Featured Studios:</p>
          <p class="text-xl font-[200]">Netflix, Disney, Prime Video, Star+, AppleTv.</p>
        </div>

        <div>
          <p class="font-bold">VFX Production by:</p>
          <p class="text-xl font-[200]">Boat, k&S.</p>
        </div>

        <div>
          <p class="font-bold">My role:</h2>
          <p class="text-xl font-[200]">Procedural vegetation, pyro simulations, Vellum cloth, RBD destruction, and custom snow and decay systems.</p>
        </div>

        <div>
          <p class="font-bold">Music:</p>
          <p class="text-xl font-[200]">GLORYHAMMER.</p>
        </div>
      </div>

      <!-- Descripción (Derecha) -->
      <div class="aboutvideo text-left md:text-left flex items-center">
        <p class="text-1rem font-semibold">
          FX reel showcasing work done in Houdini: Includes production shots and personal explorations.
        </p>
      </div>
    </div>